html, body {
    height: 100%;
    margin: 0;
}

* { font-family: Cambria, Georgia, "Times New Roman", serif; }


ul.menu_horizontal li {
    display: inline-block;
    list-style-type: none;
}

#logo {
    margin: 0 auto;
    padding: 30px;
    width: 200px;
    
}



 /* Mapa  */
.leaflet-container {
    height: 600px;
    width: 500px;
    max-width: 100%;
    max-height: 100%;
}
#map {
    width: 600px;
    height: 500px;
}