body{
    background-color: rgb(203, 239, 215);  
    /* background-image: url(BG_volunteer2.jpg); */
    /* background-repeat: repeat-x; */
    /* background-position-y: 210%;  */
    font-family: "Lucida Console", "Courier New", monospace;
}

h2{
    text-align: center;
}

form{
    background-color: rgb(20, 144, 92);
    border-radius: 8px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;

}

.labelLeft{
    margin-right: 30%;
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(43, 90, 63);
    color: white;
    padding: 15px;
    margin: 20px;
    border: none;
    cursor: pointer;
    width: 15%;
  }

