/* announcements_list.html */


h1 {
    text-align: center;
}

.announcements-container {
    max-width: 600px;
    margin: 20px auto;
    overflow-y: auto; /* Add a vertical scrollbar */
    max-height: 350px; /* Set a maximum height for the container */
    border: 1px solid #ddd;
    padding: 10px;
}

.announcements {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.announcements:last-child {
    border-bottom: none; /* Remove border for the last request */
}

.announcements h3 {
    margin-top: 0;  
}

.announcements p {
    margin-bottom: 0;  
}

/* .announcement-details > summary {
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
    list-style: none;
} */
 
/* .announcement-details > p {
    background-color: #ececec;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
} */
#g > summary {
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
}
#g > p {
    background-color: #ececec;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
}