/* announcements_list.html */

#announcements-container {
    max-width: 38rem;
    margin: 1.2rem auto;
    overflow-y: auto;
    max-height: 31rem; 
    border: 0.06 solid #ccc;
    padding: 0.6rem;
}
#announcement-expand {
    max-width: 25rem;
    margin: 1.2rem auto;
    padding: 1.2rem;
    border: 0.06rem solid #ccc;
    border-radius: 0.3rem;
}

#announcements-container label {
    display: block;
    justify-self: center;
}

#announcements-container input {
    justify-self: center;
    width: 10rem; 
    padding: 0.5rem;
    margin-top: 0.3rem;
    box-sizing: border-box;
    border: 0.06rem solid #ccc;
    border-radius: 0.25rem;    
}

#create-offer-button {
    background-color: rgb(163, 84, 38);
    color: #fff;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin: 0.3rem;
}

#create-offer-button:hover {
    background-color: rgb(77, 38, 16);
}

#announcement-details {
    width: 36rem;
    margin: 0 auto;
    background-color: #f2f2f2;
    overflow: hidden;
}
#announcement-summary {
    display: block;
    background: white;
    border: none;
    border-radius: 0.4rem;
}

@media screen and (max-width: 480px) {
    #announcements-container {
        max-width: 100%;
    }

    #announcement-expand {
        max-width: 100%;
    }

    #announcements-container input {
        width: 70%; 
    }

    #announcement-details {
        width: 100%; 
    }
}

/* create_request.html */
#div-dropdown-cat,
#div-autocomplete,
#div-list,
#div-final {
    max-width: 36rem; 
    margin: 1.2rem auto; 
    background-color: #fff;
    padding: 1.2rem; 
    border: 1px solid #ccc;
    border-radius: 0.3rem; 
    box-shadow: 0 0.12rem 0.25rem rgba(0, 0, 0, 0.1);
}

#div-dropdown-cat label,
#div-final label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

#dropdown,
#input-search,
#input-num {
    width: 60%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    box-sizing: border-box;
    border: 0.06 solid #ccc;
    border-radius: 0.2rem;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 80%;
}
.autocomplete-items {
    position: absolute;
    border: 0.06rem solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 0.6rem;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 0.06px solid #d4d4d4; 
}

.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

#input-search {
    width: 17rem; 
    margin: 0rem;
}

#select-autocomplete {
    background-color: rgb(163, 84, 38);
    color: #fff;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-top: 0.3rem;
}

#itemslist {
    list-style: none;
    padding: 0;
}

#itemslist li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

#itemslist li input[type="checkbox"] {
    margin-right: 0.5rem;
}

#div-final button {
    background-color: rgb(163, 84, 38);
    color: #fff;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin: 0.3rem;
}

#div-final button:hover {
    background-color: rgb(77, 38, 16);
}

/* offers_list.html */


#offers-container {
    max-width: 38rem;
    margin: 1.2rem auto;
    overflow-y: auto;
    max-height: 40rem; 
    border: 0.6 solid #ccc;
    padding: 0.6rem;
}

#offer {
    border: 0.1rem solid #ccc;
    border-radius: 0.6rem;
    padding: 0.6rem;
}

#offer p {
    margin-bottom: 0;  
}

#cancel-button-offer {
    background-color: rgb(163, 84, 38);
    color: #fff;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    margin: 0.3rem;
}

#cancel-button-offer:hover {
    background-color: rgb(77, 38, 16);
}

/* offers_list.html */


#requests-container {
    max-width: 38rem;
    margin: 1.2rem auto;
    overflow-y: auto;
    max-height: 40rem; 
    border: 0.6 solid #ccc;
    padding: 0.6rem;
}

#request {
    border: 0.1rem solid #ccc;
    border-radius: 0.6rem;
    padding: 0.6rem;
}

#request p {
    margin-bottom: 0;  
}