/* body {
    font-family: Arial, sans-serif;
    margin: 0px;
} */
/* requests_list.html */
h1 {
    text-align: center;
}

.requests-container {
    max-width: 600px;
    margin: 20px auto;
    overflow-y: auto; /* Add a vertical scrollbar */
    max-height: 350px; /* Set a maximum height for the container */
    border: 1px solid #ddd;
    padding: 10px;
}

.request {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.request:last-child {
    border-bottom: none; /* Remove border for the last request */
}

.request h3 {
    margin-top: 0;
}

.request p {
    margin-bottom: 0;
}
/* announcements_list.html */


h1 {
    text-align: center;
}

.announcements-container {
    max-width: 600px;
    margin: 20px auto;
    overflow-y: auto; /* Add a vertical scrollbar */
    max-height: 350px; /* Set a maximum height for the container */
    border: 1px solid #ddd;
    padding: 10px;
}

.announcements {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.announcements:last-child {
    border-bottom: none; /* Remove border for the last request */
}

.announcements h3 {
    margin-top: 0;
}

.announcements p {
    margin-bottom: 0;
}