body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.login_header{
    text-align: center;
}

.signup_header{
    margin-left: 40px;
}

.paragraph_right{
    text-align: right;
    margin-right: 20px;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffe5b4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  /* margin-top: 10px; */
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

span {
    color: rgb(163, 84, 38);
}

button {
  background-color: rgb(163, 84, 38);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(77, 38, 16);
}

@media only screen and (max-width: 600px) {
  form {
    max-width: 100%;
  }
}
