/*:root {
    --color-primary-100: hsl(184,88%, 94%);
    --color-primary-200: #87EAF2;
    --color-primary-300: #38BEC9;
    --color-primary-400: #14919B;
    --color-primary-500: #0A6C74;
}
header {
    background-color: var(--color-primary-500);
    color: var(--color-primary-100);
}
*/
html,
body {
  background-color: #f1f5f8;
  height: 100%;
  margin: 0;
  text-align: center;
}

* {
  font-family: Cambria, Georgia, "Times New Roman", serif;
}

/* Page menu */
.menu_horizontal {
  text-align: center;
  background-color: orange;
  box-sizing: border-box;
  border: solid 0.1em;
  border-color: black orange;
  padding: 1.2em;
  margin: 0;
}
.menu_horizontal a:link,
.menu_horizontal a:visited,
.menu_horizontal a:hover,
.menu_horizontal a:active {
  color: black;
  text-decoration: none;
}
ul.menu_horizontal li {
  display: inline-block;
  list-style-type: none;
  padding-right: 3em;
}

.page_title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin: 2em;
}

#main {
  padding-bottom: 6em; /* footer height */
}

/* Footer */
#footer {
  width: 100%;
}

/* Site logo */
#logo {
  margin: 0 auto;
  padding: 30px;
  width: 200px;
  font-size: 2.5em;
  font-weight: bold;
}
#logo_container {
  box-sizing: border-box;
  background-color: #ffe5b4;
}

/* Mapa  */
.leaflet-container {
  margin: 0 auto;
  width: 50em;
  height: 44em;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
}
#map {
  width: 50em;
  height: 44em;
}
#map4distance {
  display: none;
}

#Plot {
  width: 100%;
  max-width: 40em;
  margin: auto;
}

/* form lields */
#stats_field {
  width: 25em;
  margin: auto;
  margin-top: 2em;
}

#rescuer_tasks_field {
  width: 35em;
  margin: auto;
  margin-top: 2em;
  display: none;
}
#rescuer_tasks_field input {
  margin-left: 1em;
  margin-bottom: 0.3em;
}

#rescuer_tasks_field2 {
  width: 35em;
  margin: auto;
  margin-top: 2em;
  display: grid;
}
#rescuer_tasks_field2 label {
  margin-top: 0.5em;
  margin-left: 1em;
  grid-column: 1;
  justify-self: start;
}
#rescuer_tasks_field2 input {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  width: 1em;
  height: 1em;
}
.check {
  grid-column: 2;
  justify-self: end;
}
.x {
  grid-column: 3;
  justify-self: center;
}

/* WAREHOUSE */
.table-container {
  margin-top: 10px;
  max-height: 20vw; /* Set a maximum height for the container */
  max-width: 500px;
  overflow-y: auto; /* Enable vertical scrolling */
}
.fixed-header {
  position: sticky;
  text-align: center;
  top: 0;
  background-color: #f1f5f8;
}

#cargo_items,
#inventory_items {
  margin-bottom: 2em;
}
#cargo_items h3,
#inventory_items h3 {
  display: inline-block;
}
#cargo_items table,
#inventory_items table {
  display: inline-block;
}

#cargo_items td {
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#inventory_items td {
  text-align: left;
  min-width: 10em;
  max-width: 10em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  overflow: hidden;
}
#inventory_items input {
  text-align: center;
  box-sizing: border-box;
  min-width: 4em;
  max-width: 4em;
}

.cargo_item {
  padding-right: 1em;
  min-width: 10em;
  max-width: 10em;
}

details {
  width: 17em;
  margin: 0 auto;
  background: #71a0ff;
  border-radius: 1em;
  overflow: hidden;
}
summary {
  display: block;
  background: #b3c3ff;
}
