#authentication-body {
	font-family: 'Arial', sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

#login_header{
    text-align: center;
}

#signup_header{
    margin-left: 40px;
	margin-bottom: 3px;
	margin-top: 3px;
}

#paragraph_right{
    text-align: right;
    margin-right: 20px;
	margin-bottom: 0;
}

#login-form,
#signup-form  {	
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	background-color: #ffe5b4;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top:5px;
}

#label-authentication {
	display: block;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

#login-form input {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 25px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#signup-form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#login-form span,
#signup-form span {
    color: rgb(163, 84, 38);
}

#authentication-button {
	background-color: rgb(163, 84, 38);
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#authentication-button:hover {
	background-color: rgb(77, 38, 16);
}

@media only screen and (max-width: 600px) {
	#authentication-form {
		max-width: 100%;
	}
}